<div class="px-6 md:px-8
            mt-6 mb-8 md:mt-4 md:mb-16">

    <div class="max-w-screen-xl mx-auto
                mb-6 md:mb-10">

        <div class="grid grid-cols-3 gap-x-10">

            <div class="col-span-1">
                {{ partial:components/image :image="poster" preset="poster" class="rounded-lg overflow-hidden" }}
            </div>

            <div class="col-span-2">
                <h1 class="font-bold text-2xl text-pretty md:text-3xl">{{ title }}</h1>

                <div class="mt-4 space-y-8">

                    <div class="flex items-center gap-x-4">
                        <div class="size-12">
                            {{ glide :src="classification:badge" }}
                                <img src="{{ url }}"
                                     alt="{{ classification:title }} {{ classification:description }}"
                                     width="{{ width }}"
                                     height="{{ height }}">
                            {{ /glide }}
                        </div>
                        <div>
                            <div class="font-bold leading-tight">{{ classification:description }}</div>
                            <div class="text-xs leading-tight">{{ consumer_advice }}</div>
                        </div>
                    </div>

                    {{ if trailer }}
                    <div>
                        {{ partial:components/video :video="trailer" }}
                        Watch Trailer
                        {{ /partial:components/video }}
                    </div>
                    {{ /if }}

                    <div class="flex gap-x-8">
                        <div>
                            <div class="text-xs uppercase font-bold">Duration</div>
                            <div class="mt-1 text-sm">{{ duration }} minutes</div>
                        </div>

                        <div>
                            <div class="text-xs uppercase font-bold">Genre</div>
                            <div class="mt-1 text-sm">
                                {{ genres }}
                                {{ title }}{{ if !last }}, {{ /if }}
                                {{ /genres }}
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="text-xs uppercase font-bold">Synopsis</div>
                        <div class=" prose prose-sm mt-1 max-w-full">
                            {{ synopsis }}
                        </div>
                    </div>

                    <div>
                        <div class="text-xs uppercase font-bold">Session Times</div>
                        <div class="mt-1 space-y-2">
                            {{ if session_times | count }}
                            <div class="-ml-4 grid grid-cols-sessions text-sm">
                                {{ session_times }}
                                <div class="whitespace-nowrap pl-4 pr-6 py-2
                                            {{ if index % 2 === 0 }} bg-amber-50 {{ /if }}">{{ date | format('l jS F') }}</div>
                                <div class="py-2 {{ if index % 2 === 0 }} bg-amber-50 {{ /if }}">{{ times }}</div>
                                {{ /session_times }}
                            </div>
                            {{ else }}
                            <div class="text-xs italic">There are currently no session times for {{ title }}.</div>
                            {{ /if }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
